@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "PublicSans";
  src: url("../fonts/PublicSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "DMSerifDisplay";
  src: url("../fonts/DMSerifDisplay-Regular.ttf");
  font-weight: 400;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: unset;
}

body {
  margin: 0;
  background-color: white;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PublicSans", sans-serif;
  height: 100%;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

*::-moz-selection {
  color: white;
  background: #36536B;
}

*::selection {
  color: white;
  background: #36536B;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #36536B;
  border-radius: 10px;
}

p {
  margin: unset;
}

button {
  cursor: pointer;
}

.header {
  padding: 40px 0;
  position: relative;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-right: 32px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}
.header__item {
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
  -webkit-transition: 0.3S;
  transition: 0.3S;
}
.header__item:hover {
  color: #6C8294;
}
.header__btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  border-radius: 24px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  padding: 16px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__btn:hover {
  background-color: #DA6D97;
}
@media screen and (max-width: 425px) {
  .header__btn {
    position: relative;
    margin-top: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.none {
  display: none;
}
@media screen and (max-width: 768px) {
  .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  margin: 80px 0;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-top: 60px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.hero__title {
  color: #36536B;
  font-family: "DMSerifDisplay";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.554px;
  max-width: 546px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .hero__title {
    font-size: 20px;
    text-align: center;
    margin-top: 49px;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 40px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 49px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__blog {
  margin-top: 21px;
  max-width: 445px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 426px) {
  .hero__blog:nth-child(2) {
    margin-top: unset;
  }
}
@media screen and (max-width: 768px) {
  .hero__blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px;
  }
}
.hero__input {
  border-radius: 24px;
  background: #FBFCFE;
  border: 1px solid #6C8294;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  outline-color: #DA6D97;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 21px;
  color: #36536B;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}
.hero__input::-webkit-input-placeholder {
  color: #6C8294;
}
.hero__input::-moz-placeholder {
  color: #6C8294;
}
.hero__input:-ms-input-placeholder {
  color: #6C8294;
}
.hero__input::-ms-input-placeholder {
  color: #6C8294;
}
.hero__input::placeholder {
  color: #6C8294;
}
.hero__link {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  margin-top: 16px;
  margin-left: 27px;
}
.hero__btn {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  border-radius: 24px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  padding: 16px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  right: 0;
}
.hero__btn:hover {
  background-color: #DA6D97;
}
@media screen and (max-width: 425px) {
  .hero__btn {
    position: relative;
    margin-top: 16px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .hero__img {
    width: 127px;
    height: 240px;
  }
}
@media screen and (max-width: 425px) {
  .hero__img {
    width: 140px;
    height: 280px;
  }
}
@media screen and (max-width: 470px) {
  .hero__img {
    width: 170px;
    height: 310px;
  }
}
.hero__right::after {
  content: "";
  background: url(../img/phoneshape.svg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 675px;
  height: 640px;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .hero__right::after {
    background: url(../img/mediumshape.svg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 281px;
    width: 767px;
  }
}
@media screen and (max-width: 375px) {
  .hero__right::after {
    height: 266px;
    width: 340px;
  }
}
@media screen and (max-width: 630px) {
  .hero__right::after {
    height: 266px;
    width: 640px;
  }
}
@media screen and (max-width: 470px) {
  .hero__right::after {
    height: 266px;
    width: 505px;
  }
}
@media screen and (max-width: 426px) {
  .hero__right::after {
    height: 266px;
    width: 435px;
  }
}
@media screen and (max-width: 320px) {
  .hero__right::after {
    height: 266px;
    width: 340px;
  }
}

.link {
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-left: 5px;
}

.work {
  background: #1B262F;
  padding: 100px 0;
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 500px) {
  .work {
    padding: 50px 0;
  }
}
.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (max-width: 768px) {
  .work__left {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .work__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.work__left::after {
  content: "";
  background: url(../img/workshape.svg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 582px;
  height: 453px;
}
@media screen and (max-width: 768px) {
  .work__left::after {
    background: url(../img/workmiddle.svg) no-repeat;
    width: 750px;
    height: 235px;
  }
}
@media screen and (max-width: 500px) {
  .work__left::after {
    background: url(../img/workmiddle.svg) no-repeat;
    width: 562px;
    height: 264px;
    left: -32%;
  }
}
@media screen and (max-width: 425px) {
  .work__left::after {
    width: 560px;
    height: 258px;
    left: -49%;
  }
}
@media screen and (max-width: 400px) {
  .work__left::after {
    width: 556px;
  }
}
@media screen and (max-width: 320px) {
  .work__left::after {
    width: 542px;
    left: -70%;
  }
}
.work__title {
  color: #FBFCFE;
  font-family: "DMSerifDisplay";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
}
@media screen and (max-width: 500px) {
  .work__title {
    font-size: 32px;
  }
}
.work__txt {
  color: #c2c2c3;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  max-width: 445px;
  width: 100%;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .work__txt {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .work__txt {
    text-align: center;
  }
}
.work__link {
  border-radius: 24px;
  border: 1px solid #FBFCFE;
  color: #FBFCFE;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.115px;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 48px;
}
.work__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  vertical-align: middle;
  position: relative;
}
@media screen and (max-width: 768px) {
  .work__right {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .work__img {
    width: 100px;
  }
}

.code {
  margin: 100px 0;
  position: relative;
}
.code__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .code__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.code__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .code__right {
    margin-top: 48px;
  }
}
.code__title {
  color: #36536B;
  font-family: "DMSerifDisplay";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
}
@media screen and (max-width: 768px) {
  .code__title {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .code__title {
    text-align: center;
  }
}
.code__txt {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  max-width: 445px;
  width: 100%;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .code__txt {
    text-align: center;
    max-width: 573px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .code__txt {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .images {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .images {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .images {
    display: none;
  }
}

.img {
  display: none;
}
@media screen and (max-width: 768px) {
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 375px;
  }
}
@media screen and (max-width: 400px) {
  .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 340px;
  }
}
@media screen and (max-width: 320px) {
  .img {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.finance {
  margin-top: 46px;
}
.finance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .finance__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.finance__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.finance__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .finance__blog {
    margin-top: 32px;
  }
}
.finance__title {
  color: #36536B;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
}
.finance__txt {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.115px;
  max-width: 350px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .finance__txt {
    max-width: 223px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .finance__img {
    width: 88px;
    height: 88px;
  }
}
@media screen and (max-width: 425px) {
  .finance__img {
    width: 106px;
    height: 106px;
  }
}

.restart {
  margin: 100px 0;
}
.restart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .restart__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.restart__title {
  color: #36536B;
  font-family: "DMSerifDisplay";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
}
@media screen and (max-width: 768px) {
  .restart__title {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .restart__title {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .restart__title {
    margin-bottom: 40px;
  }
}

.footer {
  background: #1B262F;
  padding: 31px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 426px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 426px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
  }
}
.footer__item {
  color: #FBFCFE;
  font-size: 15px;
  font-weight: 700;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__none {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer__none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */