@font-face {
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../fonts/DMSerifDisplay-Regular.ttf');
    font-weight: 400;
}
