@mixin btn {
    color: #FBFCFE;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.115px;
    border-radius: 24px;
    background: $darpink;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border: none;
    padding: 16px 25px;
    transition: 0.4s;

    &:hover {
        background-color: $pink;

    }
    @media screen and (max-width:425px) {
        position: relative;
        margin-top: 16px;
        width: 100%;
    }
}

@mixin hero__title {
    color: #FBFCFE;
    font-family: $fontdmsserif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
    @media screen and (max-width:500px) {
        font-size: 32px;
    }
}

@mixin hero__txt {
    color: #c2c2c3;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    max-width: 445px;
    width: 100%;
    @media screen and (max-width:768px) {
        text-align: center;
    }
    @media screen and (max-width:500px) {
        text-align: center;
    }
}

@mixin section__title {
    color: $primary;
    font-family: $fontdmsserif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
    @media screen and (max-width:768px) {
        text-align: center;
    }
    @media screen and (max-width:500px) {
        text-align: center;
    }
}

@mixin section__txt {
    color: #6C8294;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    max-width: 445px;
    width: 100%;
    @media screen and (max-width:768px) {
        text-align: center;
        max-width: 573px;
        width: 100%;
    }
    @media screen and (max-width:500px) {
        text-align: center;
    }
}