.pricing__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 52px;
    @media screen and (max-width:426px) {
        flex-direction: column;
    }
}

.pricing__title {
    color: #36536B;
    font-family: $fontdmsserif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.246px;
}

.pricing__left {
    display: flex;
    align-items: center;
    @media screen and (max-width:426px) {
        justify-content: center;
    }
    @media screen and (max-width:769px) {
        justify-content: center;
    }
}

.pricing__txt {
    color: #6C8294;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    max-width: 635px;
    width: 100%;

    @media screen and (max-width:768px) {
        max-width: 456px;
    }
    @media screen and (max-width:426px) {
        text-align: center;
        margin-top: 16px;
    }
}

.pricing__right1 {
    display: flex;
    align-items: center;
    flex-direction: column;

}