.work {
    background: #1B262F;
    padding: 100px 0;
    position: relative;

    &__left {
        &::after {
            content: "";
            background: url(../img/workshape.svg) no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 582px;
            height: 453px;
        }
    }

    &__title {
        @include hero__title;
    }

    &__txt {
        @include hero__txt;
        margin-top: 24px;
    }

    &__link {
        border-radius: 24px;
        border: 1px solid #FBFCFE;
        color: #FBFCFE;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.115px;
        display: inline-block;
        padding: 16px 32px;
        margin-top: 48px;
    }
}